<div class="middle-box">
    <div class="vertical-align-box text-center">
        <h1>
                <span class="fade-in fast">Feces</span>
                <span class="fade-in medium">&nbsp;of the Species</span>
            </h1>
        <div class="well fade-in slow">
            <h2>
                    <p>Welcome, welcome, and welcome again.</p>
                        <p>Here we test the true breadth of your fecal facts.</p>
                        <p>Can you name every species of the feces?</p>
                        </h2>
        </div>
        <div class="fade-in slowest" ng-class="{ active: isActive('/question1')}">
            <a type="button" class="btn btn-default" href="#/question1">Continue...</a>
        </div>
    </div>
</div>
