<div class="middle-box">
    <div class="vertical-align-box text-center">
        <h1>
                <span class="fade-in fast">Question</span>
                <span class="fade-in medium">&nbsp;the first</span>
                </h1>
        <div class="well fade-in slow">
            <h2>
                <p>What species did these feces come from?
                </p>
            <img src="pictures/elephant-feces.jpg" alt="feces">
            </h2>
        </div>
        <div class="fade-in slowest">
            <div class="input-group">
                <input type="text" id="question3" class="form-control" placeholder="the species">
                <span class="input-group-btn">
                        <a class="btn btn-default" type="button" href="#/question4">continue...</a>
                    </span>
            </div>
        </div>
    </div>
</div>
